:root 
{
--clr1: #BBE1FA;
--clr2: #3282B8;
--clr3: #0F4C75;
--clr4: #1B262C;
}

*
{
font-family:iy;
}

@font-face
{
font-family:vaz;
src:url('vazir.ttf');
}

@font-face
{
font-family:iy;
src:url('IYB.ttf');
}

body
{
margin:0;
padding:0;
border:0;
width:100%;
height:100vh;
display:flex;
justify-content:space-between;
align-items:center;
align-content:center;
flex-direction:row-reverse;
background:var(--clr4);
}

.flexor1
{
display:flex;
justify-content:space-around;
align-items:flex-start;
align-content:flex-start;
flex-direction:row;
flex-wrap:wrap;
width:90%;
height:80%;
background:var(--clr1);
border-radius:20px;
font-family:iy;
font-size:20px;
overflow:scroll;
}

.flexor1::-webkit-scrollbar 
{
display: none;
}


.flexor1 
{
-ms-overflow-style: none;
scrollbar-width: none;
}

.dbdl
{
width:80px;
background:var(--clr1);
height:80px;
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row;
margin-right:20px;
border-radius:20px;
cursor:pointer;
transition:all 0.1s;
}

.dbdl img
{
width:50px;
}

.flexor2_container
{
width:90%;
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row-reverse;
margin-top:20px;
}

.flexor2
{
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row;
background:var(--clr1);
height:100%;
width:calc(100% - 100px);
border-radius:20px;
}

.flexor2 img
{
width:60px;
margin-left:30px;
transition:all 0.1s;
filter:grayscale(0%);
cursor:pointer;
}

.flexor2 img:active , .dbdl:active
{
transform:scale(0.9);
filter:grayscale(100%);
}

.flexor2 input
{
width:calc(100% - 125px);
height:90%;
border:none;
outline:none;
text-align:center;
font-size:30px;
background:var(--clr1);
font-family:iy;
}

.panel
{
background:#8AD1FF;
padding:10px 0;
margin:10px 0;
width:40%;
display:flex;
justify-content:space-around;
align-items:center;
align-content:center;
flex-direction:row-reverse;
border-radius:5px;
cursor:pointer;
transition:all 0.2s;
box-shadow:black -3px 3px 7px -5px;
}

.panel:hover
{
background:#79B7DF;
}

.hl_popup_flexor
{
display:none;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row;
width:100%;
height:100vh;
position:fixed;
z-index:1000;
}

.hl_popup_bg
{
background:black;
width:100%;
height:100vh;
opacity:0.5;
position:absolute;
z-index:999;
transition:0.5s;
}

.hl_popup_main
{
width:600px;
border-radius:10px;
background:#A8DDFF;
z-index:1001;
position:relative;
display:flex;
justify-content:flex-start;
align-items:center;
align-content:center;
flex-direction:column;
padding-top:50px;
}

.panel_field
{
display:flex;
justify-content:space-between;
align-items:center;
align-content:center;
flex-direction:row-reverse;
width:90%;
position:relative;
}

.panel_field input
{
outline:none;
border:0;
width:400px;
margin:10px 0;
height:45px;
border-radius:5px;
box-shadow:black -3px 3px 7px -5px;
text-align:center;
font-size:20px;
}

.country_selection
{
position:absolute;
width:100%;
top:70px;
padding-left:10px;
display:flex;
justify-content:flex-start;
align-items:center;
align-content:center;
flex-direction:row;
}


.country_selection div
{
cursor:pointer;
margin:0 3px;
border:1px solid #5e5e5e;
border-radius:10px;
color:#5e5e5e;
background:#5e5e5e20;
padding:5px 10px;
transition:all 0.1s;
font-weight:900;
font-size:20px;
}

.country_selection div:active
{
filter:grayscale(100%);
transform:scale(0.9);
}

.panel_field span
{
font-family:iy;
font-size:20px;
}

.hl_popup_close
{
width:25px;
position:absolute;
top:15px;
left:15px;
cursor:pointer;
}

@keyframes hl_popup_opacity
{
from{opacity:0;}
to{opacity:0.5;}
}

.make_changes_to_panel
{
width:100%;
display:flex;
justify-content:space-around;
align-items:center;
align-content:center;
flex-direction:row;
margin:80px 0 20px 0;
}

.confirm_changes
{
width:75%;
height:50px;
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row;
border-radius:5px;
background:#4bae4f;
cursor:pointer;
color:black;
font-size:20px;
font-family:vaz;
transition:all 0.1s;
position:relative;
overflow:hidden;
}

.delete_panel , .enter_panel
{
width:40px;
cursor:pointer;
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row;
height:40px;
border-radius:5px;
padding:5px;
transition:all 0.1s;
}

.enter_panel
{
background:#4dc1ff;
}

.delete_panel
{
background:#ff6464;
}

.delete_panel:active , .enter_panel:active
{
filter:grayscale(100%);
transform:scale(0.9);
}

.delete_panel img , .enter_panel img
{
width:40px;
}

.confirm_changes img
{
width:40px;
}

.confirm_changes:active
{
filter:grayscale(100%);
transform:scale(0.9);
}

.flexor-container-1
{
width:65%;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:column;
}

.flexor-container-2
{
width:45%;
height:100vh;
display:flex;
justify-content:flex-start;
align-items:center;
align-content:center;
flex-direction:column;
}

.flexor3
{
background:var(--clr1);
width:100%;
height:100vh;
align-self:start;
display:flex;
justify-content:space-between;
align-items:center;
align-content:center;
flex-direction:column;
overflow:hidden;
}

.flexor3 > span
{
font-size:20px;
font-family:iy;
text-align:center;
background:#8AD1FF;
width:90%;
padding:10px 0;
border-bottom-left-radius:20px;
border-bottom-right-radius:20px;
}

.add_marzban
{
width:40px;
transition:all 0.3s;
transform:rotate(0deg);
margin-bottom:10px;
cursor:pointer;
}

.save_marzban img
{
width:40px;
}

.save_marzban
{
width:90%;
background:#4bae4f;
margin-top:20px;
border-radius:5px;
padding:3px;
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row;
cursor:pointer;
}

.new_marzban
{
width:90%;
background:#8AD1FF;
padding:10px 0;
border-top-left-radius:20px;
border-top-right-radius:20px;
display:flex;
justify-content:flex-start;
align-items:center;
align-content:center;
flex-direction:column;
transition:all 0.3s;
height:50px;
}

.new_marzban input
{
width:90%;
border:none;
outline:none;
text-align:center;
margin-top:10px;
font-family:iy;
border-radius:5px;
background:#F4F4F4;
}

.marzbans_container
{
width:100%;
display:flex;
justify-content:flex-start;
align-items:center;
align-content:center;
flex-direction:column;
overflow:scroll;
height: calc(100% - 125px);
transition:all 0.3s;
}

.marzbans_container::-webkit-scrollbar 
{
display: none;
}


.marzbans_container 
{
-ms-overflow-style: none;
scrollbar-width: none;
}

.marzban_panel
{
background:#8AD1FF;
width:90%;
margin:10px 0;
border-radius:5px;
height:50px;
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row-reverse;
font-size:1.2vw;
box-shadow:black -3px 3px 7px -5px;
cursor:pointer;
transition:all 0.2s;
border:3px solid transparent;
position:relative;
}

.connection_status
{
width:30px;
margin:0 10px;
}

.marzban_panel:hover
{
background:#79B7DF;
}

.connection_status0
{
filter:grayscale(100%);
opacity:0.5;
}

.marzban_data_usage
{
width:20%;
text-align:center;
}

.marzban_capacity
{
width:40%;
text-align:center;
}

.marzban_panel_name
{
width:30%;
text-align:center;
}

.login_container
{
width:100%;
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row;
}

.login_box
{
background:var(--clr1);
height:400px;
width:400px;
border-radius:5px;
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:column;
box-shadow:var(--clr2) 10px 10px 0 0px,var(--clr3) 20px 20px 0 0px;
}

.login_box input
{
border:0;
outline:0;
width:70%;
height:50px;
margin:10px;
border-radius:5px;
font-size:20px;
text-align:center;
}

.login_box .login_btn
{
background:#8AD1FF;
width:70%;
margin:15px 0;
border-radius:5px;
height:50px;
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row-reverse;
font-size:25px;
cursor:pointer;
transition:all 0.2s;
}

.login_box .login_btn:hover
{
background:#79B7DF;
}

.relative-error
{
position:absolute;
bottom:0;
width:100%;
height:40px;
font-size:20px;
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row;
background:#FF7D7D;
opacity:0;
transition:all 0.2s;
}

.panel_header
{
width:100%;
display:flex;
align-self:start;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row;
}

.panel_header_box
{
width:250px;
margin:-160px 30px 0 30px;
height:250px;
background:var(--clr1);
border-radius:100%;
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:column;
font-size:20px;
border:4px solid var(--clr2);
box-shadow:var(--clr1) 0 0 0 4px;
}

.panel_header_property
{
margin-top:125px;
}

.add_new_user
{
width:70px;
height:70px;
position:absolute;
bottom:30px;
right:30px;
cursor:pointer;
transition:all 0.2s;
transform:rotate(0deg);
}

.add_new_user:active
{
filter:grayscale(100%);
}

.users_section
{
width:100%;
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:column;
height:80%;
}

.users_flexor
{
display:flex;
justify-content:space-around;
align-items:flex-start;
align-content:flex-start;
flex-direction:row;
flex-wrap:wrap;
width:85%;
height:85%;
background:var(--clr1);
border-radius:20px;
font-size:20px;
position:relative;
}

.users_flexor_header > span
{
width:250px;
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row-reverse;
}

.users_flexor_header img 
{
width:30px;
margin-right:10px;
}

.user_vpn > span
{
width:250px;
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row;
}


.user_vpn
{
background:#8AD1FF;
padding:10px 0;
margin:10px 0;
width:95%;
height:60px;
display:flex;
justify-content:space-around;
align-items:center;
align-content:center;
flex-direction:row;
border-radius:5px;
cursor:pointer;
transition:all 0.2s;
box-shadow:black -3px 3px 7px -5px;
border:3px solid transparent;
font-size:23px;
}

.user_vpn:hover
{
background:#79B7DF;
}

.new_user_form_container
{
width:100%;
position:absolute;
height:100px;
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row;
bottom:0;
overflow:hidden;
border-bottom-left-radius:20px;
border-bottom-right-radius:20px;
}

.new_user_form
{
background:#8AD1FF;
width:100%;
height:100%;
border-bottom-left-radius:20px;
border-bottom-right-radius:20px;
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row;
position:absolute;
transition:all 0.2s;
bottom:-100px;
}

.new_user_form input
{
outline:none;
border:0;
width:250px;
margin:0 20px;
height:45px;
border-radius:5px;
box-shadow:black -3px 3px 7px -5px;
text-align:center;
font-size:20px;
}

.save_vpn
{
width:60px;
margin-left:30px;
cursor:pointer;
transition:all 0.1s;
}

.save_vpn:active
{
transform:scale(0.9);
filter:grayscale(100%);
}

.user_vpn_days_container
{
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row-reverse !important;
width:250px;
}

.user_vpn_days
{
margin-left:10px;
}

.user_vpn_config img
{
width:30px;
}

.inner_user_vpn_config
{
display:flex;
justify-content:space-between;
align-items:center;
align-content:center;
flex-direction:row;
width:220px;
}

.users_flexor_header_container
{
width:100%;
background:#8AD1FF;
border-top-left-radius:20px;
border-top-right-radius:20px;
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row;
border-bottom:3px solid var(--clr2);
}

.users_flexor_header
{
width:95%;
display:flex;
justify-content:space-around;
height:60px;
align-items:center;
align-content:center;
flex-direction:row;
}

.user_vpn_container
{
width:100%;
display:flex;
justify-content:flex-start;
align-items:center;
align-content:center;
flex-direction:column;
overflow:scroll;
height:calc(100% - 160px);
}

.user_vpn_container::-webkit-scrollbar 
{
display: none;
}


.user_vpn_container 
{
-ms-overflow-style: none;
scrollbar-width: none;
}

.settings
{
transition:all 0.2s;
}

.settings:hover
{
transform:scale(1.1);
}

.alerter
{
width:40%;
position:absolute;
top:30px;
background:#FFA8A8;
height:100px;
display:none;
opacity:0;
transition:all 0.2s;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row;
font-size:25px;
border-radius:20px;
border:3px solid #FF5B5B;
box-shadow:#FF5B5B 0px 0px 7px 2px;
transform:scale(0.9);
}

input:disabled
{
background:#dbdbdb;
cursor:default;
}

.country_fake_input_active
{
cursor:pointer !important;
transition:all 0.2s;
background:white !important;
}

.country_fake_input_active:active
{
transform:scale(0.9);
}

.country_fake_input
{
width:150px;
background:white;
color:#757575;
margin:0 20px;
height:45px;
border-radius:5px;
box-shadow:black -3px 3px 7px -5px;
text-align:center;
font-size:20px;
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row;
cursor:default;
background:#dbdbdb;
-webkit-user-select:none;
-ms-user-select:none;
user-select:none;
}

.search_section
{
width:40%;
height:60px;
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row;
background:var(--clr1);
border-radius:30px;
}

.search
{
width:90%;
height:40px;
border:0;
outline:0;
text-align:center;
font-size:25px;
background:var(--clr1);
}

.search_section img
{
width:45px;
cursor:pointer;
transform:rotate(90deg);
}

.vpn_status0
{
background:#c4c4c4 !important;
}

.vpn_status0:hover
{
background:#a0a0a0 !important;
}

.vpn_status2
{
background:#ffa9a9 !important;
}

.vpn_status2:hover
{
background:#e49595 !important;
}

.filter_section
{
width:90%;
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row;
margin-bottom:20px;
}

.show_only
{
width:15%;
height:60px;
border-radius:15px;
background:var(--clr1);
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row;
margin-left:20px;
font-size:16px;
cursor:pointer;
transition:all 0.2s;
-webkit-user-select:none;
-ms-user-select:none;
user-select:none;
filter:grayscale(100%);
}

.show_only:active
{
transform:scale(0.9);
}

.qrcode_container , .step_two_container
{
width:100%;
display:none;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row-reverse;
height:100vh;
position:absolute;
opacity:0;
transition:opacity 0.4s;
}

.qrcode_background , .step_two_background
{
width:100%;
height:100vh;
background:black;
opacity:0.5;
position:absolute;
z-index:5;
}



.qrcode_box
{
background:var(--clr1);
width:400px;
height:400px;
z-index:10;
border-radius:10px;
position:relative;
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row;
}

.step_two_box
{
background:var(--clr1);
width:400px;
height:200px;
z-index:10;
border-radius:10px;
position:relative;
display:flex;
justify-content:space-around;
align-items:center;
align-content:center;
flex-direction:column;
-webkit-user-select:none;
-ms-user-select:none;
user-select:none;
}

.step_two_box span
{
font-size:24px;
}

.step_two_choose
{
width:100%;
display:flex;
justify-content:space-around;
align-items:center;
align-content:center;
flex-direction:row;
}

.step_two_choose div
{
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row;
border-radius:5px;
width:170px;
cursor:pointer;
transition:all 0.2s;
}

.step_two_choose div:active
{
transform:scale(0.9);
filter:grayscale(100%);
}

.step_two_choose div:nth-child(1)
{
background:#4bae4f;
}

.step_two_choose div:nth-child(2)
{
background:#ff4343;
}

.step_two_choose div img
{
width:60px;
}

.cancel_delete
{
transform:rotate(45deg);	
}

.qrcode_navigator
{
width:40px;
cursor:pointer;
position:absolute;
top:180px;
transition:all 0.2s;
}


.qrcode_previous
{
transform:rotate(180deg);
left:10px;
}

.qrcode_previous:active
{
transform:scale(0.9) rotate(180deg);
}

.qrcode_next
{
right:10px;
}

.qrcode_next:active
{
transform:scale(0.9);
}

.qrcodes
{
width:256px;
height:256px;
background:black;
overflow:hidden;
}

.qrcodes_inner
{
width:1792px;
height:256px;
display:flex;
transform:translateX(0);
transition:transform 0.3s;
}

.qrcode
{
width:256px;
height:256px;
}

.qrcode_counter
{
font-size:30px;
position:absolute;
top:10px;
}

.logout
{
width:70px;
height:70px;
background:#f44336;
position:absolute;
top:0;
right:0;
overflow:hidden;
border-bottom-left-radius:100%;
transition:all 0.2s;
}

.logout:hover
{
box-shadow:#f4433680 0 0 0 5px;
}

.logout img 
{
width:50px;
height:50px;	
}

.logout a 
{
width:100%;
height:100%;
display:flex;
justify-content:flex-end;
align-items:flex-start;
align-content:center;
flex-direction:row;
}

.user_vpn_name
{
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:column !important;
}

.marzban_ref
{
font-size:13px;
}

.delete_marzban_pnl
{
position:absolute;
top:-10px;
right:-10px;
width:30px;
background:#ff6464;
padding:7px;
border-radius:10px;
cursor:pointer;
transition:all 0.2s;
transform:scale(0);
}

.delete_marzban_pnl:hover
{
box-shadow:#ff646480 0 0 0 4px;
}

.pagination_section
{
width:20%;
display:flex;
justify-content:space-between;
align-items:center;
align-content:center;
flex-direction:row-reverse;
background:var(--clr1);
border-radius:30px;
height:60px;
margin-right:20px;
}

.next_page , .prev_page
{
width:40px;
margin:0 10px;
transition:all 0.2s;
cursor:pointer;
}

.prev_page
{
transform:rotate(180deg);
}

.prev_page:active
{
transform:scale(0.9) rotate(180deg);
}

.next_page:active
{
transform:scale(0.9);
}


.page_list
{
width:calc(100% - 100px);
display:flex;
justify-content:space-between;
align-items:center;
align-content:center;
flex-direction:row;
font-size:30px;
overflow:hidden;
}

.page_list .page_floating_bar div
{
cursor:pointer;
min-width:50px;
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row;
transition:0.2s;
}

.page_list .page_floating_bar
{
display:flex;
justify-content:flex-start;
align-items:center;
align-content:center;
flex-direction:row;
width:100%;
transition:all 0.3s;
}

.country_item_activated
{
background:#4bae4f20 !important;
border:1px solid #4bae4f !important;
color:#4bae4f !important;
}